doctype html
html(lang="en")
  head
    title= "Oregon State Government Website - #{page}"
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type="module").
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    link(rel="stylesheet", href="styles.css")
  body
    .wrapper
      .header
      .nav.navbar
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="oregon.html") Home
          li.nav-item
            a.nav-link(href="salem.html") Salem
          li.nav-item
            a.nav-link(href="portland.html") Portland
          li.nav-item
            a.nav-link(href="eugene.html") Eugene
      .main
      block content
      .aside
      block sidebar
      .footer
      img(src='/images/oregon-logo.jpg', alt='oregon state logo')
      script(src="/main.js", async) 
  
