
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 50vh;
  background-color:whitesmoke;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.top-row {
  display: flex;
  flex-direction: row; 
  
  background-color: white;
}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  
  flex-basis: 50%;
}

.navbar {
  flex-basis: 25%;
  overflow: hidden;
  padding: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navbar a {
  display: block;
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  background-color: grey;
  color: white;
}

.navbar-nav li {
  list-style: none;
  
}

.search {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  flex-basis: 25%;
  padding: 25;
  height: 50%;
}

.text {
  font-style: oblique;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

th, td {
  text-align: left;
  padding: 0.8em;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #b6b6b6;
  font-weight: bold;
}

.content1 {
  display: flex;
}

.main {
  width: 70%;
  margin-top: 50px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iotd {
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  justify-content: center;
}

#footer-text {
  float: left;
  width: 30%;
  display: flex;
  align-items: center;
}

.newsletter {
  display: flex;
  justify-content: center;

}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none; 
  overflow: hidden;
}

