body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 50vh;
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-row {
  display: flex;
  flex-direction: row;

  background-color: white;
}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  flex-basis: 50%;
}

.navbar {
  flex-basis: 25%;
  overflow: hidden;
  padding: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navbar a {
  display: block;
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  background-color: grey;
  color: white;
}

.navbar-nav li {
  list-style: none;
}

.search {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-content: center;
  flex-basis: 25%;
  padding: 25;
  height: 50%;
}

.text {
  font-style: oblique;
}

.content {
  display: flex;
}

.main {
  width: 70%;
  margin-top: 50px;
}

#footer {
  display: flex;
  justify-content: center;
}

#footer-text {
  float: left;
  width: 30%;
  display: flex;
  align-items: center;
}

.footer2 {
  margin-top: 250px;
}

.footer3 {
  margin-top: 200px;
}

.absolute {
  position: absolute;
  top: 15vh;
  left: 70vw;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.img {
  position: relative;
  width: 10vw;
  height: 10vh;
}
